<h1>Data Mutasi Terakhir</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Type</th>
      <th scope="col">Note</th>
      <th scope="col">Balance</th>
      <th scope="col">Created At</th>
      <th scope="col">Mutation ID</th>
    </tr>
  </thead>
  <tbody>
    <% @mutations.each do |mutation| %>
      <tr>
        <th scope="row"><%= mutation['date'].html_safe %></th>
        <td><%= mutation['description'].html_safe %></td>
        <td><%= mutation['amount'] %></td>
        <td><%= mutation['type'].html_safe %></td>
        <td><%= mutation['note'] %></td>
        <td><%= mutation['balance'] %></td>
        <td><%= mutation['created_at'].html_safe %></td>
        <td><%= mutation['mutation_id'].html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  var window_focus;
  $(window).focus(function() {
      window_focus = true;
  }).blur(function() {
      window_focus = false;
  });
  function checkReload(){
      if(!window_focus){
          location.reload();  // if not focused, reload
      }
  }
  setInterval(checkReload, 5000);  // check if not focused, every 5 seconds
</script>