<h1>Data Mutasi Terakhir <%= @bank.bank_type.upcase %></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Type</th>
      <th scope="col">Note</th>
      <th scope="col">Balance</th>
      <th scope="col">Created At</th>
      <th scope="col">Mutation ID</th>
    </tr>
  </thead>
  <tbody>
    <% @mutations['data'].each do |mutation| %>
      <tr>
        <th scope="row"><%= Date.parse(mutation['date']).strftime('%d/%b/%y') %></th>
        <td><%= mutation['description'].html_safe %></td>
        <td><%= number_to_currency(mutation['amount']) %></td>
        <td><%= mutation['type'].html_safe %></td>
        <td><%= mutation['note'] %></td>
        <td><%= number_to_currency(mutation['balance']) %></td>
        <td><%= Date.parse(mutation['created_at']).strftime('%d/%b/%y') %></td>
        <td><%= mutation['mutation_id'].html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <center>
  <% if params[:page].to_i > 1 %>
  <%= link_to 'Previous', admin_bank_account_path(@bank.bank_id, (params[:page].to_i-1)) %> | 
  <% end %>
  Page <%= @mutations['current_page'] %> of <%= @mutations['last_page'] %> | 
  <%= link_to 'Next', admin_bank_account_path(@bank.bank_id, (params[:page].to_i+1)) %>
  </center>
</p>

<script type="text/javascript">
  var window_focus;
  $(window).focus(function() {
      window_focus = true;
  }).blur(function() {
      window_focus = false;
  });
  function checkReload(){
      if(!window_focus){
          location.reload();  // if not focused, reload
      }
  }
  setInterval(checkReload, 60000);  // check if not focused, every 5 seconds
</script>