<% @order.payment_confirmations.each do |payment_confirmation| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Konfirmasi Pembayaran</h3>
  </div>

  <table class="table table-condensed table-bordered" id="order_tab_summary" data-hook>
    <tbody class="additional-info">
      <tr>
        <td id="order_status" width="35%" data-hook>
          <strong>Bukti:</strong>
        </td>
        <td>
          <%= link_to 'Show', payment_confirmation.file_prove.url, target: :_blank, class: 'link-styled' %>
        </td>
      </tr>
      <tr>
        <td id="order_status" width="35%" data-hook>
          <strong>Nama Akun:</strong>
        </td>
        <td>
          <%= payment_confirmation.account_name_as %>
        </td>
      </tr>
      <tr>
        <td id="order_status" width="35%" data-hook>
          <strong>Rekening Tujuan:</strong>
        </td>
        <td>
          <%= payment_confirmation.bank_account_number %>
        </td>
      </tr>
      <tr>
        <td id="order_status" width="35%" data-hook>
          <strong>Jumlah:</strong>
        </td>
        <td>
          <%= number_to_currency(payment_confirmation.amount) %>
        </td>
      </tr>
      <tr>
        <td id="order_status" width="35%" data-hook>
          <strong>Tanggal Upload:</strong>
        </td>
        <td>
          <%= pretty_time(payment_confirmation.created_at) %>
        </td>
      </tr>
      <tr>
        <td id="order_status" width="35%" data-hook>
          <strong>Keterangan:</strong>
        </td>
        <td>
          <%= payment_confirmation.note %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
