<% content_for :page_title do %>
  Import dan Export
<% end %>

  <div class="form-group date-range-filter">
    <div class="date-range-filter row">
      <div class="col-md-4">
        <label>Dari Tanggal</label>
        <input type="text" name="created_at" class="datepicker datepicker-form form-control" value="">
      </div> 
      <div class="col-md-4">
        <label>Ke Tanggal</label>
        <input type="text" name="created_at" class="datepicker datepicker-to form-control" value="">
      </div>
      <div class="col-md-4">
        <label>Data</label>
        <select class="form-control" name="type">
          <option></option>
          <option value="order">Order</option>
          <option value="Product">Produk</option>
          <option value="user">Pengguna</option>
        </select>
      </div>  
    </div>
  </div>

  <div class="form-actions" style="margin-bottom: 100px;">
    <%= button Spree.t(:search), 'search' %>
  </div>

<% content_for :page_actions do %>
  <%= button_link_to "Import", new_object_url, { class: "btn-success", icon: 'add', id: 'admin_new_import_export' } %>
<% end if can?(:create, Spree::ImportExport) %>

  <table class="table">
    <thead>
      <tr data-hook="reports_header">
        <th>Tanggal</th>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:description) %></th>
      </tr>
    </thead>
    <tbody>
      <% @import_exports.each do |ei| %>
      <tr data-hook="reports_row">
        <td><%= ei.created_at.strftime("%d %B %Y") %></td>
        <td><%= ei.name %></td>
        <td><%= ei.descriptions %></td>
        <td><a href="#">export</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
